*
!.gitignore
!README.md
!init.el
!etc/*.el
!etc/
!var/
!var/eshell/
!var/eshell/alias
!var/lisp/
!var/lisp/*.el
!var/lisp/*
!var/elfeed/
!var/elfeed/elfeed.org
!var/bookmark-default.el
!var/mc-list.el
!var/windows/
!var/windows/*
!*.png
